# General
.DS_Store
.vscode/
# dependencies
node_modules/

coverage/

# output from webpack
dist/

# package-lock
package-lock.json

#EBStalk
.elasticbeanstalk/

.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml